body {
    background-color: rgb(36, 36, 36);
}

hr {
    width: 25%;
    margin: 20px auto;
    border: solid 18px;
    border-style: dotted;
    border-left: none;
    border-right: none;
    border-bottom: none;
    border-color: rgb(153, 203, 186);
}

h1 {
    color: white;
    font-family: 'Poppins', sans-serif;
    font-weight: 800;
    text-align: center;
    margin: 10px;
}

.margin-title {
    border: 15px solid;
    border-color: rgb(91, 143, 126);
    border-left-color: rgb(36, 36, 36);
    border-right-color: rgb(36, 36, 36);
    margin: 50px auto;
    width: 900px;
    text-align: center;       
}
fieldset {
    background-color: rgb(153, 203, 186);
    width: 600px;
    margin: auto;
    border: 2px solid;
    border-color:rgb(91, 143, 126);   
}

.field-1 {
    margin: 30px;
}


legend {
    background-color: rgb(46, 94, 78);
    font-family: 'Roboto', sans-serif;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 10px;
}

form {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 30px;
}

.inputs-1 {
    width: 400px;
    padding: 5px;
    border-radius: ;
}


select {
    width: 400px;
    padding: 5px;
}

textarea {
    width: 400px;
    padding: auto   ;
}

div {
    margin: 10px;
}

.field-2 {
    margin: 30px;
}
.field-22 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.linea {
    display: block;
    margin: 10px auto;
    width: 400px;
    padding: 5px;
}

.field-3 {
    margin: auto;
    font-family: 'Roboto', sans-serif;
}

.parrafo-1 {
    font-size: 12px;
}

.last-div {
    color: white;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    margin-left: 0;
}

.last-field {
    background: none;
    border: none;
}

.final {
    font-size: 15px;
    font-weight: bold;
}

.buttoms {
    text-align: center;
}

button {
    padding: 12px;
    margin: 10px;
    font-family:'Roboto', sans-serif;
    border: solid 1px;
   border-color: rgb(91, 143, 126);
   background-color: rgb(33, 66, 55);
   color: rgb(143, 203, 183);
}

.formulario .inputs-1:focus {
    border: 2px solid rgb(11, 23, 19);
    background-color: rgb(87, 146, 126);
}

.formulario select:focus {
    border: 2px solid black;
}

.formulario textarea:focus {
    background-color: rgb(87, 146, 126);
}

.field-22 .linea:focus {
    border: 2px solid rgb(11, 23, 19);
    background-color: rgb(87, 146, 126);
}

.buttoms button:focus {
    background-color: rgb(143, 203, 183);
    color: rgb(33, 66, 55);
}